@font-face {
  font-family: "BluuNext";
  src: url("bluunext-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "ArchiveGrotesk";
  src: url("archivgrotesktrial-regulartrial.otf") format("opentype");
}
* {
  cursor: url(img/comp/cursor.png), pointer;
}
body {
  padding: 10px;
  margin: 0;
  background-color: black;
  cursor: url(img/comp/cursor.png), pointer;
}
p {
  font-family: "ArchiveGrotesk";
  font-size: 38px;
  color: white;
}
h1 {
  font-family: "BluuNext";
  font-weight: 400;
  font-size: 50px;
  color: white;
}
h2 {
  font-family: "BluuNext";
  font-weight: 400;
  font-size: 30px;
  color: white;
}
h3 {
  font-family: "ArchiveGrotesk";
  font-weight: 400;
  font-size: 24px;
  color: white;
}
h4 a:hover {
  color: tomato;
}
img {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: tomato;
  cursor: url(img/comp/cursor.png), pointer;
}
a img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  display: none;
}
a:hover img {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  cursor: default;
  color: tomato;
}
#nav {
  background-color: black;
  position: fixed;
  width: 98.5vw;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  margin-right: 30px;
  padding: 0 0px 0 0px;
}
.images {
  position: fixed;
  /* margin: auto auto; Will not center vertically and won't work in IE6/7. */
  right: 0;
  top: 6%;
  padding: 50px 20px 0 0;
  z-index: 10;
  height: 80vh;
  object-fit: scale-down;
  width: 50%;
  margin: auto 0;
}

.fr {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media only screen and (max-width: 839px) {
  h1 {
    font-size: 38px;
  }
  p {
    font-size: 32px;
  }
  #nav {
    margin-top: -40px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 90%;
  }
  #nav {
    margin-top: -30px;
    width: 96%;
  }
  h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 375px) {
  p {
    font-size: 28px;
  }
  #nav {
    margin-top: -40px;
    padding: 10px;
    width: 92%;
  }
}

@media only screen and (max-width: 350px) {
  p {
    font-size: 24px;
  }
}
