@font-face {
  font-family: "BluuNext";
  src: url("bluunext-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "ArchiveGrotesk";
  src: url("archivgrotesktrial-regulartrial.otf") format("opentype");
}
* {
  cursor: url(img/comp/cursor.png), pointer;
}
body {
  padding: 10px;
  margin: 0;
  background-color: black;
  cursor: url(img/comp/cursor.png), pointer;
}
p {
  font-family: "ArchiveGrotesk";
  font-size: 50px;
  color: white;
}
h1 {
  font-family: "BluuNext";
  font-weight: 400;
  font-size: 50px;
  color: white;
}
h2 {
  font-family: "BluuNext";
  font-weight: 400;
  font-size: 30px;
  color: white;
}
h3 {
  font-family: "ArchiveGrotesk";
  font-weight: 400;
  font-size: 24px;
  color: white;
}
h4 a:hover {
  color: tomato;
}
img {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: tomato;
  cursor: url(img/comp/cursor.png), pointer;
}
a img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  display: none;
}
a:hover img {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  cursor: default;
  color: tomato;
}
#nav {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  padding: 0 10px 0 10px;
}
.images {
  position: fixed;
  margin: auto auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  z-index: 1;
}
.fr {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
